#gallery {
  grid-template-columns: 1fr 1fr 1fr ; /* To specify 3 columns of equal size. So, in desktop you get 3 images per row  */
}
#indexgrid>img {
  grid-area: image;
}

#indexgrid img {
  width: 100%;
  height: 100%;
}
#indexgrid {
  display: grid;
  grid-template-columns: (2, 3fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "image image"
    columns of equal size. So, in desktop you get 2 images per row  */
}
#italy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-areas:
    "image image image"
    ;
}
#aboutme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-areas:
    "image image"
    ;
}
